@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ul {
        @apply list-inside list-disc;
    }
}

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary_orange: #d18933;
    --primary_red: #6e0203;
    --primary_text: #020617;
    --primary_grey: #cbd5e1;
    --secondary_grey: #f1f5f9;
}

body {
    color: var(--primary_text);
    background: var(--background);
}
