.reglements {
    h2 {
        font-size: large;
        font-weight: bold;
        margin: 2rem 0 0.5rem 0;
    }

    li {
        padding-left: 2%;
    }

    [href^='#article_'] {
        @apply animate-pulse hover:text-primary_orange;
    }
}
