.reglements {
    h1 {
        font-size: larger;
        font-weight: bold;
        text-align: center;
    }

    h2 {
        font-size: large;
        font-weight: bold;
        margin: 2rem 0 0.5rem 0;
        text-decoration: underline;
    }

    li {
        padding-left: 2%;
    }
}
